.panel {
  width: fit-content;
  display: grid;
  padding: 8px;
  row-gap: 12px;
  column-gap: 4px;
  margin: 0 auto;

  grid-template-columns: auto auto;
  background-color: rgba(255, 255, 255, 0.75);
}

.panel > .title {
  grid-column: 1/-1;
}

.panel > .text:last-child {
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
}
