<html>
  <head>
    <link rel="stylesheet" href="../smart-look/general.css" />
    <link rel="stylesheet" href="../smart-look/background.css" />
  </head>

  <body>
    <div
      class="background"
      style="
        --bgi: url(../image/background/model-s-mobile.jpg);
        --bgid: url(../image/background/model-s.jpg);
      "
    >
      <h1 class="title">UUUU, vine trenul</h1>

      <div class="box__gap--large">
        <div class="box__gap--small">
          <p>dupa care jos</p>
          <p>dupa care jos</p>
        </div>

        <p>dupa care jos</p>
      </div>
    </div>

    <div
      class="background"
      style="--bgi: url(../image/background/model-y-mobile.jpg)"
    >
      <!-- content inside here -->
    </div>

    <div
      class="background"
      style="--bgi: url(../image/background/model-3-mobile.jpg)"
    >
      <!-- content inside here -->
    </div>
  </body>
</html>
