<html>
  <head>
    <link rel="stylesheet" href="../smart-look/general.css" />
    <link rel="stylesheet" href="../smart-look/button.css" />
  </head>

  <body>
    <div class="box">
      <div class="box">
        <button class="button--dark">Custom order</button>
        <button class="button--light">Existing inventory</button>
      </div>

      <div class="box">
        <div class="button__icon--down">
          <svg
            width="48"
            height="48"
            viewBox="0 0 48 48"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <path
                d="M36.5 20.25L32 15.75L24.5 23.25L17 15.75L12.5 20.25L24.5 32.25L36.5 20.25Z"
              />
            </g>
          </svg>
        </div>

        <div class="button__icon--up">
          <svg
            width="48"
            height="48"
            viewBox="0 0 48 48"
            xmlns="http://www.w3.org/2000/svg"
          >
            <g>
              <path
                d="M36.5 20.25L32 15.75L24.5 23.25L17 15.75L12.5 20.25L24.5 32.25L36.5 20.25Z"
              />
            </g>
          </svg>
        </div>
      </div>
    </div>
  </body>
</html>
