<html>
  <head>
    <link rel="stylesheet" href="../smart-look/general.css" />
    <link rel="stylesheet" href="../smart-look/text.css" />
    <link rel="stylesheet" href="../smart-look/panel.css" />
  </head>

  <body>
    <div class="box">
      <div class="panel">
        <h1 class="title">Model 3</h1>
        <p class="text">Order Online for</p>
        <a
          class="link"
          href="#model-3"
          title="Order Online for Touchless Delivery"
        >
          Touchless Delivery
        </a>
      </div>

      <div class="panel">
        <h1 class="title">Model S</h1>

        <p class="text">Order Online for</p>
        <a
          class="link"
          href="#model-s"
          title="Order Online for Touchless Delivery"
        >
          Touchless Delivery
        </a>
      </div>

      <div class="panel">
        <h1 class="title">Model Y</h1>

        <p class="text">Lowest Cost Solar Panels in America</p>
      </div>

      <div class="panel">
        <h1 class="title">Accessories</h1>
      </div>
    </div>
  </body>
</html>
