<html>
  <head>
    <link rel="stylesheet" href="../smart-look/general.css" />
    <link rel="stylesheet" href="../smart-look/text.css" />
  </head>

  <body>
    <section>
      <h1 class="title">Model S</h1>

      <p class="text">
        Hey, how are you today? Did you visit
        <a title="Model S all colors and sizes" href="#model-s" class="link"
          >Model S</a
        >
        on
        <a
          class="link"
          title="Model S, 3, X, Y and many more"
          href="https://tesla.com"
          >Tesla Motors</a
        >?
      </p>
    </section>
  </body>
</html>
